<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title> School Reinforcement </title>
        {% endblock %}

        

        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Estudante</a>
                <a href="/students">Professor</a>

                {% block links %}
                
                {% endblock %}  
                
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>

</html>